        {% extends "base.html"  %}
        {% block title %}
            <h1> Firetower - Total Errors per Category </h1>
        {% endblock %}
        {% block content %}
        <div id="placeholder" style="width:700px;height:300px"></div>
        <br />
        <table>
            {% for total in totals %}
            <tr><td>{{total.1}}</td><td>{{total.2}}</td></tr>
            {% endfor %}
        </table>


        <script type="text/javascript">
            $(function () {
                {% for total in totals %}
                var data_{{total.0}} = [
                    [{{ loop.index }}, {{total.2}}]
                ];
                {% endfor %}

                $.plot(
                    $("#placeholder"),

                    [
                        {% for total in totals %}
                        {data: data_{{total.0}}, label: '{{total.1}}' },
                        {% endfor %}
                    ],
                    {
                        xaxis: { mode: "time" },
                        series: {
                            bars: { show: true },
                        },
                    }
               );
            });
        </script>
        {% endblock %}
