        {% extends "base.html"  %}
        {% block title %}
            <h1> Firetower - Total Errors per Category </h1>
        {% endblock %}
        {% block content %}
        <div id="aggregate">
            <div id="aggregatePlaceholder">
                <div id="loadingMsg">Loading...</div>
            </div>
            <div id="key"></div>
        </div>

        <script type="text/javascript">
            $(function () {

            sampleFlot = function() {
                //console.log('sampleFlot fired');
                toPlot = 
                [ { label: "Foo", data: [ [10, 1], [17, -14], [30, 5] ] },
                { label: "Bar", data: [ [11, 13], [19, 11], [30, -7] ] } ]
                //console.log(toPlot);
                $.plot($("#placeholder"), toPlot);
            }

            getAggregateData = function() {
                $("#loadingMsg").show();
                console.log('date:'+Math.round(new Date().getTime()/1000.0));
                var handler = $.ajax({
                    url: "/api/categories/timeseries",
                    success: function(returnedData, httpStatus, xhr){
                        var jsonData = JSON.parse(returnedData);
                        //console.log(jsonData);

                        // Empty array to hold chart data
                        var chartData = new Array();
                    
                        for (cat in jsonData) {
                            // Store category name & data for chart
                            chartData.push( { label: cat, data: jsonData[cat] } )

                            // Sum total instances per category
                            var catTotal = 0;
                            for (var i=0, arr; arr=jsonData[cat][i]; i++) {
                                catTotal += arr[1];
                            }

                            // Get human-readable category name
                            getCategoryName(cat, catTotal);
                        }

                        drawAggChart(chartData);
                    }
                });
            }

            drawAggChart = function(chartData) {
                $("#loadingMsg").hide();
                $.plot($("#aggregatePlaceholder"), chartData );
            }

            getCategoryName = function(catId, catTotal) {
                var handler = $.ajax({
                    url: "/api/categories/",
                    success: function(jsonData, httpStatus, xhr){
                        var catData = JSON.parse(jsonData);
                        var catName = catData[catId].human_name;
                        writeAggKey(catId, catName, catTotal);
                    }
                });
            }

            // Write key for aggregate chart
            writeAggKey = function(catId, catName, catTotal) {

                // Add category name & totals to key
                $("#key").append(
                    '<div class="keyEntry" id="'+catId+'"></div>')

                $("#"+catId).append('<div class="catTotal"><h1>'+catTotal+'</h1></div><div class="catName"><a href="/category/'+catId+'">'+catName+'</a></div>')
            }

            // Get default timeseries data for all categories 
            // & draw chart
            getAggregateData();

            });
        </script>
        {% endblock %}
