<html>
    <head>
        <script type="text/javascript" src="https://s3.amazonaws.com/com.urbanairship.media/js/jquery.js?1313656006"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/com.urbanairship.media/js/jquery.flot.js?1313656006"></script>
        <script type="text/javascript" src="https://raw.github.com/mbostock/d3/v2.5.0/d3.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <title>Firetower</title>
    </head>
    <body>
    <div id="container">
    <div id="header">
        <img class="logo" src="/static/img/logo.png" />
    </div>
        <div id="main">
            <div id="title">
                {% block title %}
                {% endblock %}
            </div>
        {% block content %}
        {% endblock %}
        </div>
    </div>
   </body>
</html>
