#
# Sample Firetower Config
#

# Redis Server
redis_host: localhost
redis_port: 6379

# Queue source for classification
queue_key: incoming

class_thresh: 0.7

# Time Between Alert Checks

alert_time: 0.5

# How far back in time we look for error counts.

timeslices:
  - 300  # Look 5 minutes into the past for threshold checks

# Number of seconds between archive sweeps for counters in Redis

archive_time: 2
