body {
    background:  #eee;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
}

p {
    padding-bottom: 6px;
    padding-top: 6px;
}

#container {
    background-color: #fff; 
    margin: auto;
    width: 80%;   
    padding: 25px;
    /* Shadow */
    -moz-box-shadow: 0px 0px 25px #ccc;
    -webkit-box-shadow: 0px 0px 25px #ccc;
    box-shadow: 0px 0px 25px #ccc;
}

#title {
    padding-top: 40px;
    padding-bottom: 50px;
}

#title h1 {
    font-family: Helvetica, sans-serif;
    color: #666;
    font-size: 1.3em;
}

#main {
    padding: 20px 0;
}

#placeholder {
    margin: auto;
    border: 1px solid #ccc;
    min-height: 300px;
}

.chart {
    min-height: 100px;
    border: 1px solid #ccc;
}

.chart rect {
    stroke: white;
    /*fill: steelblue;*/
}

.chart text {
    font: 10px sans-serif;
}

#key {
    float: left;
    font-family: Helvetica, Arial, sans-serif;
}

#key ul {
    border: 1px solid #ccc;
    height: 90px;
    width: 150px;
    margin: 0 20px 5px 0;
    padding: 5px;
    list-style-type: none;
}

#key ul li {
    margin: 0 0 15px 0;
    padding: 5px;
}

#key ul li.catName {
    font-weight: bold;
}

#key ul li.catTotal {
    font-size: .85em;
    background-color: #ccf;
}

#legend {
    border: 1px solid #666;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 20px;
}

#legend ul {
    margin: 0;
    list-style-type: none;
    padding: 5px;
    border-bottom: 1px solid #99c;
}

/* Zebra striping */
#legend ul:nth-child(2n+1) {
    background-color: #ccf;

}

#legend ul li {
    display: inline;
    padding-left: 30px;
}

