body {
    background:  #eee;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

p {
    padding-bottom: 6px;
    padding-top: 6px;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    background-color: #ccf;
}

#container {
    background-color: #fff;
    margin: auto;
    width: 80%;
    padding: 25px;
    min-height: 100%;
    /* Shadow */
    -moz-box-shadow: 0px 0px 25px #ccc;
    -webkit-box-shadow: 0px 0px 25px #ccc;
    box-shadow: 0px 0px 25px #ccc;
}

#title {
    padding: 40px 0 20px 20px;
}

#title h1 {
    font-family: Helvetica, sans-serif;
    color: #666;
    font-size: 1.3em;
}

#main {
    padding: 20px 0;
}

#loadingMsg {
    display: hidden;
    width: inherit;
    margin: auto;
    text-align: center;
    font-style: italic;
    padding: 10px;
    background-color: #ccf;
    border: 1px solid #ccc;
}
/** Aggregate chart **/

#aggregatePlaceholder {
    margin: auto;
    width: 960px;
    height: 400px;
    font-family: Myriad Pro, Helvetica, Arial, sans-serif;
}

/** Individual category chart **/

#categoryPlaceholder {
    margin-left: 20px;
    width: 800px;
    height: 400px;
    font-family: Myriad Pro, Helvetica, Arial, sans-serif;
}

#catId {
    display: none;
}

/** Chart legend **/
#legend {
    font-family: Helvetica, Arial, sans-serif;
    width: 935px;
    margin: 25px auto;
    padding-left: 17px;
}

/** Category/totals list **/

#key {
    font-family: Helvetica, Arial, sans-serif;
    width: 935px;
    margin: 25px auto;
    padding-left: 17px;
}

#key .keyEntry {
    padding: 8px;
}

#legend {
    font-family: Helvetica, Arial, sans-serif;
    width: 935px;
    margin: 25px auto;
    padding-left: 17px;
}


/* Zebra striping */
#key .keyEntry:nth-child(2n+1) {
    background-color: #eee;
}

#key div.catName a {
    text-decoration: none;
    color: #000;
}

#key .keyEntry:hover {
    background-color: #ccf;
}

#key div.catTotal {
    float: right;
    text-align: right;
}

#key div.catTotal h1 {
    font-size: 1.3em;
    font-weight: bold;
    margin: -2px 0 0 0;
}

/** Category chart key/controls **/

#categorykey {
    border: 1px solid #ccc;
    padding: 15px;
    float: right;
    min-width: 250px;
    margin-top: 6px;
}

#categoryKey h3 {
    font-weight: normal;
    font-size: .9em;
    color: #666;
    margin: 0 0 5px 0;
}

#categoryKey div.catTotal {
    background-color: #ccf;
    padding: 10px;
    border: 1px solid #ccc;
    height: 30px;
    text-align: right;
}

#categoryKey div.catTotal h1  {
    font-size: 1.6em;
    font-weight: bold;
    margin: 0;
}

#categoryKey #controls {
    margin-top: 15px;
    font-size: .9em;
    font-style: italic;
    color: #666;
}

#returnToAgg {
    margin-top: -25px;
    float: right;
}

#returnToAgg a {
    font-size: .8em;
}

/** Flot styles **/

.tickLabel {
    font-size: .9em;
}
